[2016-10-31 17:08] laceysanderson opened #12 "WSOD for large XML file"
There is a known problem that if a user has a large blast result XML file (exact size depends on your web server) they might end with a memory exhausted WSOD. This is due to the XML reader we use reading the entire file into memory.

We have mostly mitigated this issue by checking the number of hits using grep and then only reading the XML if it is below a static threshold (currently 500). However

[2017-12-01 16:01] srobb1 opened #19 "Errors with Core_Plugin_ProcessManager"
Hi.
Yesterday Blast module was working great. This morning, no blast jobs will run, trpjob-daemon dies, and I get these errors

[code]

Not unexpectedly, I also get a bunch of other errors also due to the asn file not being created.

I can run the same requested blast job on the command line, so I know the input fasta is okay and the database is okay, and that blast can still make the asn files. I

[2017-12-01 16:18] laceysanderson commented on #19
This is likely a problem with the PHPDaemon library -due to a version change? The Tripal Daemon seems to cache things when it gets started, so you may just be seeing the effects of changes made weeks ago. What version of the PHPDaemon library do you have? It needs to be 2.0 as we don't support newer versions...

[2017-12-01 17:00] srobb1 commented on #19
How can I tell what version of PHP-Daemon Library I have?  I am pretty sure I have not changed it since I first installed it, but I did update drushd a month or so ago to 7.x-2.3

[2017-12-01 17:45] laceysanderson commented on #19
Unfortunately it's difficult to tell. I was hoping you'd remember... Anyway, I went digging and it's definitely the version of your PHP-Daemon library. If you look at version 2.0 there is no PHP-Daemon/Core/Plugin/ProcessManager.php file: https://github.com/shaneharter/PHP-Daemon/tree/v2.0/Core/Plugin. Try re-downloading the library using the 2.0 tag (https://github.com/shaneharter/PHP-Daemon/rele

[2017-12-01 18:02] srobb1 commented on #19
OMG! Turns out one of by drives was out of space. I forgot that my /var was on a separate drive from all of my other files. My friend and IT guru figured it out. But you are right, I have the current version of the library from the github repo. I downloaded the tar from the main page when I installed it a few years ago. Should I replace it with 2.0? This version has working just fine (as long as I

[2017-12-01 19:54] #19 closed

[2017-12-01 19:55] srobb1 commented on #19
Thank you Lacey!

[2018-02-26 21:00] srobb1 opened #24 "tblastn possible display coordinate error. Minus frame??"
I need to look at this a bit more closely, but a user just reported this to me today.

This is using tblastn:

This is the display of two hsps:
<img width="628" alt="screen shot 2018-02-26 at 2 22 01 pm" src="https://user-images.githubusercontent.com/1072991/36694031-458a6da0-1afa-11e8-9765-a3d96335156d.png">

Here is the output in the html blast output:
[code]

The subject coordinates are not dis

[2018-02-26 21:33] srobb1 commented on #24
To be more complete here is the computed xml. I am trying to go through the code to see if I can figure out this pesky bug. I bet it is a minus/plus issue. Those get me often.

[code]

[2018-02-26 21:48] srobb1 commented on #24
Just an aside:

Oh man, I have a lot of admiration for the work that @laceysanderson put into this module. I have always loved this module, but looking at the code for displaying the results makes me really understand the labor of love this module is.

[2018-02-26 21:55] laceysanderson commented on #24
Hmmmm... We've had problems with coordinates before but to my knowledge they had all been fixed -obviously one slipped through! The bug is likely here: https://github.com/tripal/tripal_blast/blob/7.x-1.x/theme/blast_report_alignment_row.tpl.php#L60 somewhere...

Might it be an incorrect assumption about the "to" and "from" notation? I would have expected "from" to be the start but looking at the H

[2018-02-26 21:58] laceysanderson commented on #24
Unfortunately I can't test this hypothesis out because 1) I'm still a stay at home Mom today and my little guy is grumpy and 2) I don't think KnowPulse even uses tblastn. @srobb1 does this get you closer?

[2018-02-26 22:14] srobb1 commented on #24
Maybe. I am poking around. Really any clue has got to help. I keep you posted.

I heard you are heading to work soon. I remember how hard it was to leave my little guy and to step back into the other working world. Thank you for all the times you have helped out while not working your other job.

[2018-02-26 22:43] srobb1 commented on #24
Yes, I think it is definitely in here somewhere:  [https://github.com/tripal/tripal_blast/blob/7.x-1.x/theme/blast_report_alignment_row.tpl.php#L60](https://github.com/tripal/tripal_blast/blob/7.x-1.x/theme/blast_report_alignment_row.tpl.php#L60)

I think this might be a morning task and not the end of the day task. I should be able to work it out with a fresh brain.

[2018-02-27 17:10] bradfordcondon opened #25 "obnoxious behavior if > 500 results"
A user was confused because their blast results had over 500 results, and therefore no results were displayed.

https://github.com/statonlab/hardwoods_site/issues/199

After some fiddling I discovered that you can set the max target sequences in the advanced options to return 500 or fewer sequences (see below).

Rather than return no results, why not return the first 500 results and display a warn

[2018-02-27 17:19] ekcannon commented on #25
It's great to have more people using this module so that annoyances like this can be identified and addressed. As I wrote the code to bail if >500 results (a quick solution to a problem that was holding up a website release), I'll tackle improved handling of large results sets.

[2018-02-27 17:34] bradfordcondon commented on #25
Great and thank you!  IMO This module works great and is easy to administer so I'm a big fan.  I'd be happy to contribute as well.

Cheers

[2018-02-27 17:35] bradfordcondon commented on #25
Oh i forgot the second part of this issue:

The error reads

However, on my site at least, no download link is provided.

[2018-02-27 17:55] laceysanderson commented on #25
Part of the issue with >500 results is the XML reader this module is using. It reads the entire file into memory resulting in a WSOD for large files. The solution is to switch to a stream-based XML reader as suggested in Issue #12.

The lack of download files is a simple bug however that should be easy to fix :-)

[2018-02-27 17:56] bradfordcondon commented on #25
woops sorry for creating an issue largely duplicate with #12

embarrassing considering theres only 2 other issues lol

[2018-02-27 18:25] bradfordcondon commented on #12
Would this result in a (HTTP error code) 500 error?

EDIT (googles white screen of death.... yep, OK, thats our problem)

The user im troubleshooting with will get an HTTP 500 error and not be able to display the job page if he sets the max hit limit to 250.  (Setting it to 500 and your failsafe kicks in).

Setting to 100, and the page loads.

We can check the logs and see that the blast job ran s

[2018-02-27 21:37] srobb1 commented on #24
OMG! I think I got it:

https://github.com/tripal/tripal_blast/pull/26

[2018-03-02 20:58] #24 closed

[2018-03-16 13:26] ekcannon commented on #12
Possible solutions:

1. As suggested, use a streaming XML parser like XMLReader. **But** this requires a PHP package that isn't typically included in a standard PHP installation. The number of results displayed will still need to be limited, and it isn't simply a matter of limiting the number of hits as a single hit can contain many hsps.

2. Limit the number of hits when the XML is created from t

[2018-03-16 16:09] laceysanderson commented on #12
Hmmmmm.... my gut reaction is that #4 is the safest but I worry since BLAST is a heuristic we would end up with results shown on the page that are not in the downloadable files :-(

[2018-03-16 16:37] ekcannon commented on #12
I have an operational proof-of-concept for option 4, but the concern about getting different results from the second BLAST execution is very valid ... and quit likely to happen. Unfortunately, blast_formatter won't permit limiting hsps like the BLAST programs do.

[2018-03-16 16:46] laceysanderson commented on #12
What about if we do a combination of #2 & #3?
A. create an advanced option for the blast form that limits HSPs and set its default to something reasonable. That way if they need to do repeat analysis they can change it but most people should not.
B. When creating the XML from the ASN we limit the number of hits.

A takes care of the HSPs and B takes care of the hits keeping us in a safe zone and e

[2018-03-16 16:55] ekcannon commented on #12
Hmm. I'll play with this idea for a bit.

[2018-03-16 16:57] laceysanderson commented on #12
Ok, thanks for taking this one on and Yay for coffee and a fresh morning ;-)

[2018-03-21 12:55] bradfordcondon opened #27 "configure BLAST linkout to allow arrows tracks"
Hello,

I was wondering if there's a way to change the styling of the generated Jbrowse blast track.

[code]

We've added arrows for orientation of our JBrowse tracks (for our features), and want to do the same for the blast result.  We've done it for our tracks by setting the type to "Canvas Feature" and setting the style properties from there.

Does the module already provide a way to do this?

[2018-03-28 16:23] laceysanderson commented on #27
Hi @bradfordcondon, sorry for not getting to this question in a timely manner! This cannot be altered through the UI and adding it would complicate the UI without adding a lot of value. That said, the suggestion of changing the track type to the more modern CanvasFeatures feels like a good generic update.

I see in the referenced issue that @almasaeed2010 has already fixed this issue in your site.

[2018-03-28 16:34] almasaeed2010 commented on #27
Hello @laceysanderson

We simply changed the line where the track is defined to use CanvasFeatures as shown here
https://github.com/statonlab/tripal_blast_jbrowse/blob/master/tripal_blast_jbrowse.module#L158

[code]

In our case, we also wanted to specify the strand's direction by specifying `-` or `+` strands to display an arrow in JBrowse which had to be added to the main feature rather than sub

[2018-03-28 22:51] ctcncgr opened #28 "tblastn error running in knowpulse"
I ran the amino acid translation of https://www.ncbi.nlm.nih.gov/nuccore/XM_003602825.2 in a tblastn against Glycine Max: DFCI indicies version 16 through knowpulse and got the following error:

"We encountered an error and are unable to load your BLAST results."

The blast command was:

tblastn -max_target_seqs 20000 -evalue 0.001 -word_size 3 -gapopen 7 -gapextend 2 -culling_limit 0 -matrix PAM3

[2018-04-02 18:28] laceysanderson commented on #27
Seems reasonable enough to me :-) A PR would be great 👍

[2018-04-03 15:25] laceysanderson commented on #28
Thanks for submitting this issue :-)

I've confirmed that I can reproduce the error on KnowPulse, however, I tested a number of other Tripal sites with this module and cannot reproduce it elsewhere. As such I'm moving this to UofS-Pulse-Binfo/KnowPulse#24

[2018-04-03 15:25] #28 closed

[2018-04-18 17:01] bradfordcondon opened #30 "view permission for blast database node?"
Hi all,
dont know if this issue will stay relevant for Tripal 3 version.

We have a problem where the blast databases are being indexed by elasticsearch.  Tripal ES indexes all nodes that an anonymous user would have access to.  These nodes arent really fit for end user consumption (http://160.36.205.61:8095/node/1976613).

Is it possible to change the view permissions for these nodes? It seems li

[2018-04-18 18:16] laceysanderson commented on #30
The permissions on these nodes control what databases are available to the user on the blast form. For example, I use Simple Access to control my blastdb's by role. The first screenshot shows what I see with a specific role whereas the second shows what an anonymous user sees.
## Privileged User
![screen shot 2018-04-18 at 11 44 39 am](https://user-images.githubusercontent.com/1566301/38950184-f5e

[2018-04-18 18:40] bradfordcondon commented on #30
I know that ES indexes nodes based on permissions of an anynmous user.  @almasaeed2010 do we have any other options beyond explicitly filtering out these node types?

[2018-04-18 18:46] laceysanderson commented on #30
PS. My plan is for these to remain nodes in Tripal3 since they are not specifically biological content -just configuration for the blast module.

[2018-04-18 18:49] almasaeed2010 commented on #30
We’ll add an exception in ES to ignore them in that case.

Thanks!

[2018-04-18 18:56] #30 closed

[2018-04-19 16:04] bradfordcondon opened #31 "illegal blast configurations allowed to be submitted"
``` blastn -max_target_seqs 50 -evalue 0.001 -word_size 11 -gapopen 5 -gapextend 2 -penalty -5 -reward 4 -culling_limit 0```

the blast job will fail with
[code]
on the server, but the user will not know that their job failed because of the options they chose.

I can make a PR that will prevent this configuration at validation

[2018-04-19 16:24] laceysanderson commented on #31
Good catch! A PR would be greatly appreciated :-)

[2018-04-19 22:15] bradfordcondon commented on #31
ill have one tomorrow am, i want to read the manual and make sure i catch all the invalid combinations.

[2018-04-20 14:01] bradfordcondon commented on #31
The  reward/penalty in the manual [for blastn](https://www.ncbi.nlm.nih.gov/books/NBK279684/#_appendices_BLASTN_rewardpenalty_values_) lists the below reward/penalty and gap open/extend costs.

I can't find a similar table for the other blast methods, are they the same?

Anyway, the table has me wonder, what is the logic behind the available gap/mismatch options?  I ask because if one chooses 4 -5

[2018-04-20 14:11] ekcannon commented on #31
@bradfordcondon, the advanced options were implemented by a student with limited understanding of how blastn and friends actually work. Although we spent some time working together to ensure that it was not possible to select invalid combinations of settings, due to lack of time, the effort was unfortunately, minimal. I wouldn't take too seriously any of the existing decisions about which options

[2018-04-20 14:13] bradfordcondon commented on #31
Shoot, thank you @ekcannon very good to know that the valid choices are d ifferent for each.

I made a table below for the valid/invald combinations for blastn.

I wonder if switching it to free text instead of the dropdown would be the best solution, if different combinations are going to be valid/invalid for each program?  Otherwise I can make this matrix for each program and add the validation

[2018-04-26 18:34] ekcannon commented on #31
Illegal blastn combinations removed by @bradfordcondon (pull request https://github.com/tripal/tripal_blast/pull/32).

blastp, blastx, and tblastx remain.

[2018-04-26 21:58] ekcannon commented on #31
Compatible and proper default parameters for all 4 programs are in pull request https://github.com/tripal/tripal_blast/pull/33.

[2018-05-01 17:36] bradfordcondon opened #34 "query range/culling limit"
This advanced option was removed ( see PR #33), but we might want it back some day.
For example:

[code]

Its available as an advanced option on ncbi's blast instance as follows:

<img width="1390" alt="screen shot 2018-05-01 at 1 36 19 pm" src="https://user-images.githubusercontent.com/7063154/39484724-aa381da2-4d44-11e8-912f-94afe06f9b37.png">

[2018-05-02 00:10] laceysanderson commented on #31
Fixed by PRs!

[2018-05-02 00:10] #31 closed

[2018-05-02 00:11] laceysanderson commented on #27
Fixed by PRs

[2018-05-02 00:11] #27 closed

[2018-06-06 12:44] bradfordcondon opened #36 "Tripal BLAST UI undefined variable db_file_id"
Original Issue by @oklonova posted here: https://github.com/tripal/tripal/issues/414
* Tripal Version: 7-2.1
* Drupal Version: 7.59
* Tripal BLAST UI 7-1.3

Hi,

I have installed BLAST UI module and followed the instructions in the README file: installed NCBI BLAST+, downloaded a database from NCBI using update_blastdb.pl script, and added it as a node to blast against, proving the path.
The path

[2018-06-06 12:52] bradfordcondon commented on #36
You need to create a blast db node for each database.  You can do this at content -> add Content -> blast database.

I'd bet this error will go away when you add a blast database/if you disable allowing custom database upload?  I don't actually see this variable get set so maybe it requires a minor fix?

https://github.com/tripal/tripal_blast/blob/e30bbb255321eae4110f4b5932ac9576f5da0673/includes/

[2018-06-06 12:54] bradfordcondon opened #37 "can't access blast settings"
Trying to access `admin/tripal/extension/tripal_blast_analysis/configuration`
[code]

[2018-06-06 13:07] bradfordcondon commented on #37
oops im sorry, wrong module hahah.

[2018-06-06 13:07] #37 closed

[2018-06-06 13:10] ekcannon commented on #36
@oklonova are you trying to upload a target database or selecting the "Blast database" node you created from the target dropdown? Could you provide a screenshot of the error and form state?

[2018-06-06 20:28] laceysanderson opened #38 "Automated Testing"
With #35 I have begun creating PHPUnit tests for this module using the [TripalTestSuite](https://github.com/statonlab/TripalTestSuite). 🎉

This issue is a place to discuss where to start and any other philosophy related to tests :-)

First up, I asked for guidance in #35: specifically,

@bradfordcondon replied with

Any other input? @ekcannon? I'm tempted to go with the ambitious suggestion by @br

[2018-06-06 21:05] bradfordcondon commented on #38
I bet we can get blast installed very easily.  And we can include a sample blastdb or download one from somewhere in travis if available.  Then we would need to run something (a dbseeder I guess?) before testing to configure the blast db.

[2018-06-06 21:21] laceysanderson commented on #38
It's setting up blast on travis that has me worried so if you ever find your tempted to try it I would be very grateful ;-) <3

My intent was to distribute a blast database with the module in the tests directory (pending size) and we already have the blastdb node seeder for configuring it. I figured I would just seed the db in the tests like I did [here](https://github.com/tripal/tripal_blast/blob

[2018-06-06 21:29] bradfordcondon commented on #38
OK I'll start a branch to add that.  Then we can worry about hooking it up to the module later.

Feel free to add issue and assign me, or I'll just work on it and keep you in the loop.

[2018-06-06 21:38] laceysanderson commented on #38
Awesome! Feel free to use my add-tests branch --that way when you're done you could pass the theoretical baton back to me without needing a merge into master but as always, I'm good with whatever you prefer :-D

[2018-06-07 10:35] oklonova commented on #36
Thank you for the answers!

Here is what I have after I disabled allowing custom file upload:

![screenshot from 2018-06-07 10-32-49](https://user-images.githubusercontent.com/37333828/41088157-0cb28ee2-6a3f-11e8-9433-d6df4b55bfa9.png)

What should the path to this database be, if it is a local one?

One more thing which confuses me. Maybe it is related to the problem. I downloaded a database from

[2018-06-07 13:13] bradfordcondon commented on #38
Downloading blast onto the docker from my computer

[code]

downloading onto the docker within the travis environment;

[code]

I either need to figure this out, **or** simply push the changes to dockerhub and use that image.  The problem with the latter solution is when we upgrade the tripal container whatever someone will have to also create a new blast container.  Its very straightforward but i

[2018-06-07 13:40] ekcannon commented on #36
Hi @oklonova. Here are some answers:

The path to the database should be the full local path.

It looks to me like the swissprot download is already formatted, so you shouldn't need to run makeblastdb. Look in the directory you downloaded from swissprot and see if you have these files:
swissprot.00.phr
swissprot.00.pin
swissprot.00.pnd
swissprot.00.pni
swissprot.00.pog
swissprot.00.ppd
swissprot.0

[2018-06-07 14:14] bradfordcondon commented on #38
[code]

got it.  for some reason, curl just will not work, but wget is OK.  so we download it in the travis env, then move it into bin after it goes into the docker container with the rest of the module.

[2018-06-08 08:43] oklonova commented on #36
Hi!

Yes, looks like swissprot.00 was the one that was missing in the path. It was not that obvious before, as it is now :) Thanks a lot!

Those errors are gone now, but an error and a couple of warnings remain:

1) The BLAST command (with the default parameters in the advanced settings) produces the following:
Executing blastp

Query: /tmp/2018Jun08_094943_query.fasta
Database: sites/default/file

[2018-06-10 19:44] laceysanderson opened #40 "CViTjs warning on settings page."
We missed a warning when creating the CViTjs functionality. As reported by @oklonova:

This is likely due to https://github.com/tripal/tripal_blast/blob/7.x-1.x/includes/blast_ui.admin.inc#L189 when CViTjs is not in the libraries folder.

[2018-06-10 19:46] laceysanderson commented on #36
Hi @oklonova

### 1. File is not accessible.
This is almost always a permission issue on the `sites/default/files/tripal/tripal_blast` directory. Just a bit of clarification: when you say the "server has full read/write access to all the directories under files, including tripal and tripal_blast", do you mean all users have full read/write access? Since the blast job is run via Tripal Jobs, the li

[2018-06-10 20:44] ekcannon opened #41 "Option to download hit sequence"
Sometimes it's helpful to get the hit sequence rather than just the hit locations. This might be doable via blast_formatter by creating a custom table output which includes qseq (aligned part of query sequence) and sseq (aligned part of subject sequence) in the table download.

[2018-06-12 13:04] oklonova commented on #36
Hi,

thank you and sorry it took some time to reply.
I changed the owner of tripal_blast back from www-data to the user who creates the files.

Here is the output of ls -lh:

/var/www/html/sites/default/files/tripal$ ls -lh
total 8,0K
drwxrwxr-x 2 docker www-data 4,0K juni  12 14:42 tripal_blast
drwxrwxr-x 2 docker www-data 4,0K mai    8 12:39 tripal_organism

Now blast is working, but I would lik

[2018-06-13 17:41] laceysanderson commented on #36
Yes, that looks right to me :-) I'm glad it's working for you now. If you run into any more issues or even just need clarification/guidance feel free to open another issue :-)

[2018-06-13 17:41] #36 closed

[2018-06-25 13:56] ekcannon opened #43 "Unable to set regex for linkouts"
I don't know how this used to work. It doesn't appear to be possible to turn on the "FASTA header format" section.

When a new BLAST database node is started, the default linkout type is 'none', so the "FASTA header format" section is turned off, since 'none' doesn't require a regex. Changing the linkout type to, for example, 'Generic', does not activate the  "FASTA header format" section. Saving

[2018-06-25 14:26] ekcannon commented on #43
This may be a javascript or ajax problem as it works properly on some websites.

[2018-06-25 21:22] laceysanderson opened #44 "Update Test to use TripalTestSuite->actingAs()"
Tripal Test Suite has adding an easy method to authenticate Drupal users: https://github.com/statonlab/TripalTestSuite/issues/49#issuecomment-394112950. We should use this method to test the blastdb form.

[2018-06-29 12:49] bradfordcondon commented on #38
I think this issue is resolved?

[2018-08-14 10:29] oklonova opened #45 "Path to local db"
Hi,

which path should I provide to the local database? (currently it is a small database on localhost)
localhost/chado does not work, obviously. I want to be able to blast against this database.

I am getting error messages, guess they are connected to the wrong path:
Notice: Undefined variable: blastdb_with_suffix in blast_ui_per_blast_program_form_submit() (line 502 of /var/www/html/sites/all/m

[2018-08-31 11:15] #45 closed

[2018-11-17 13:26] oklonova opened #46 "Blast UI jobs do not start"
Hi,

Blast UI jobs do not start automatically, I have to do it manually in the job list or via the command line.
"Results list" appears, but there is only the message "Your BLAST has been registered and will be started shortly. This page will automatically refresh". The page refreshes without any results.

For installation, I followed the instructions on the project page. Everything worked perfect

[2018-11-17 16:13] laceysanderson commented on #46
Hi @oklonova, my guess is that your Tripal Job Daemon was stopped somewhere along the line. Go back to the command-line in your Drupal site directory and run `drush trpjob-daemon status` to confirm if this is the case. If it Has stopped, then simply re-start it using `drush trpjob-daemon start`.

[2018-11-18 20:15] laceysanderson commented on #40
Fixed in PR

[2018-11-18 20:15] #40 closed

[2018-11-18 20:44] laceysanderson commented on #43
This should be fixed now -just added a commit that brought back the ajax trigger on the linkouts form element. Can you test with the most recent dev @ekcannon ?

[2018-11-21 11:06] oklonova commented on #46
Hi,
that was exactly what had happened. Thanks a lot.
Sorry it took some time to get back.

[2018-11-21 11:06] #46 closed

[2018-11-21 13:40] laceysanderson commented on #46
Awesome! Glad it helped and thanks for checking back!

[2018-11-27 02:03] laceysanderson opened #54 "FASTA not validated properly"
Quoted from Drupal.org, [Issue filed by Nate Henry](https://www.drupal.org/project/tripal_blast/issues/2471901#comment-12871041)

[2019-02-06 10:11] kyrenya opened #55 "setting up blast functionality"
hi there!
I'm trying to make the blast module work,
by now I've done:
- making the database as specified in docs
- configured the 'database' as a content added
- configured the Tripal BLAST User Interface, via Tripal >> Extensions

apparently everything is fine. The thing is.. what to do next to see somewhere the BLAST tool page?
it must be biting me, but I cant find the way.

Thanks a lot

[2019-02-06 11:51] kyrenya commented on #55
found it! I don't know if there is a more straight forward way to do it, but I found it in the Help tab,
clicking in the links of blastp, blastn, etc.. of the section HIghlighted Functionality.

![image](https://user-images.githubusercontent.com/43243429/52339552-59b8d800-2a05-11e9-900e-95867f346bf0.png)
![image](https://user-images.githubusercontent.com/43243429/52339583-77863d00-2a05-11e9-9def-9

[2019-02-06 14:30] kyrenya commented on #36
I'm having an issue also with the blast execution and what I guess is a matter of permissions also.. but I dont manage to fix it..

![image](https://user-images.githubusercontent.com/43243429/52348120-6fd19300-2a1b-11e9-8cee-309902a7bf5f.png)

here's my ls -lh
![image](https://user-images.githubusercontent.com/43243429/52348185-a27b8b80-2a1b-11e9-999a-07a3e4c87f19.png)

not sure I understood the c

[2019-02-06 15:53] kyrenya commented on #36
solved! it was an issue about apache2 config of tmp files, they were kind of private. If someone needs detail of how to solve it, let me know!

[2019-02-06 21:40] laceysanderson commented on #55
Hi @kyrenya, you should have seen a `BLAST` link added to your navigation menu block. This page has links for your users to the blast forms. This page looks like the following screenshot and can be accessed from `[yoursite]/blast/`.
<img width="923" alt="screen shot 2019-02-06 at 3 39 40 pm" src="https://user-images.githubusercontent.com/1566301/52375509-706f2700-2a25-11e9-89f2-1b834aaf0005.png">

[2019-02-07 09:24] kyrenya commented on #55
cool, thanks!! thanks to this I have just noticed my navigation menu was not there!

[2019-02-07 09:26] kyrenya opened #56 "non well formed numeric value"
Hi there!
Is is possible to avoid this?
![image](https://user-images.githubusercontent.com/43243429/52401757-5b90a300-2aba-11e9-83ab-ffc7b03a2d04.png)
I guess it has something to do with the e decimal values.. ?

[2019-02-07 10:26] kyrenya opened #57 "formatdb or makeblastdb?"
Hi, I am interested in making a database from fasta files (one with proteins, other with nucleotides -mRNAs). I'm reading the docs, and its adviced to do with formatdb command. My question is.. which is the difference between doing it with formatdb and makeblastdb for this purpose? will this affect in the functioning of the module somehow?
Thanks!

[2019-02-07 15:33] laceysanderson commented on #57
To my understanding they are equivalent with `makeblastdb` being the newer version of `formatdb`. So it should not make a difference. Most of the testing was done with `formatdb` but we are just moving to `makeblastdb` ourselves.

[2019-02-07 15:36] laceysanderson commented on #56
Hmmm.... this seems to be related to the query/hit coordinates. Could you provide the BLAST XML for this result so I can debug the problem?

[2019-02-07 15:37] kyrenya commented on #57
good! Thanks!
for me it worked!  as it worked, I didnt went to deep in that, but I think it might have some impact when we are configuring the database in tripal saying if has the NCBI format
![image](https://user-images.githubusercontent.com/43243429/52422552-2aca6100-2aee-11e9-9c95-5da40c7f5a11.png)
but I'm not sure because I didn't try it.

[2019-02-07 15:42] kyrenya commented on #56
sure!
it happens everytime with all the tests I've done.
uhmm, I cannot upload it, xml is not supported.. alternative?
email?

[2019-02-07 15:46] laceysanderson commented on #56
Try changing the ending on the file to txt and see if that works?

[2019-02-07 15:51] kyrenya commented on #56
done! :)
[2019Feb07_141328.blast.txt](https://github.com/tripal/tripal_blast/files/2841598/2019Feb07_141328.blast.txt)

[2019-02-18 13:37] kyrenya commented on #56
hi! any update in this? is it anyway possible to avoid the warnings show for some specific role? (i.e. anonymous users) Thanks!

[2019-02-21 15:37] laceysanderson commented on #56
Sorry @kyrenya, I don't have a fix yet as I've been having troubles replicating the problem. Which version of PHP are you using?

[2019-02-25 09:25] kyrenya commented on #56
hi There! php 7.2!

[2019-03-04 12:51] almasaeed2010 opened #58 "Trimming database path"
Hello!

We recently encountered an issue where the blast database won't be found if the path contained a space at the beginning or the end.

For exmple, the path "`/var/www/html/sites/default/files/bdb/quercus_robur/Qrob_PM1N_CDS_aa_20161004.fa`" is treated differently that "`/var/www/html/sites/default/files/bdb/quercus_robur/Qrob_PM1N_CDS_aa_20161004.fa `"

Where the second one has a space at th

[2019-03-04 15:48] almasaeed2010 commented on #58
Merged!

[2019-03-04 15:48] #58 closed

[2019-03-07 14:36] kyrenya commented on #56
so, I know nothing about php, but I'm trying to figure out what is happening with the lines of code regarding to the warnings (92 and 106 of blast_report_alignment_row.tpl.php), trying to figure out is the problem is actually with that script.

if I change the line:
$coord['qstart'] = ($k == 0) ? $q_from : $coord['qstop'] + 1;

for sth like:
 $coord['qstart'] = ($k == 0) ? $q_from : 777;

of cours

[2019-03-07 14:54] kyrenya commented on #56
after some googling,
I added this to the code:

settype($coord['qstart'], "integer");
settype($coord['qstop'], "integer");
settype($coord['hstart'], "integer");
settype($coord['hstop'], "integer");

apparently everything is fine now..

[2019-03-08 14:23] kyrenya opened #60 "error loading file and segmentation fault"
Hi, here running tripal 3.1,
when running blastn, via daemon jobs, I get this error in the site,

![image](https://user-images.githubusercontent.com/43243429/54033923-8bac8e00-41ad-11e9-9c5b-f12e1e04e4fb.png)

and this message in the terminal..

segmentation fault (core dumped)

any help? Thx a lot!

[2019-03-08 16:07] laceysanderson commented on #60
The Tripal Daemon sometimes has issues with caching. I always try stopping and restarting the daemon when I run into problems with jobs -especially after an update or change.

I've never seen those errors before. There is a known issue with simplexml and very large blast resultsets... Can you check in `[your drupal root]/sites/default/files/tripal/tripal_blast` for the associated files from the er

[2019-03-08 17:01] kyrenya commented on #60
hi, if it helps, when I stop the daemon and run the job  via drush, it occures the same issue.
I tried running the command manually for the blastn job again same database, and it works.
Respect to the files:
the files:
-rw-rw-r-- 1 ubi ubi    0 mar  8 15:52 2019Mar08_155222.blast.tsv
-rw-rw-r-- 1 ubi ubi    0 mar  8 15:52 2019Mar08_155222.blast.xml

[2019-03-08 20:59] kyrenya commented on #60
so, after a lot of trying to debug it, I rebuilt the nucleotide blastdatabase, and despite the steps followed and the input file and output files be exactly the same, (at least they seem so), now it works.
Issue can be closed I guess!

[2019-03-09 23:54] laceysanderson commented on #60
Glad you got it working! Thank you for checking back and letting us know ❤️

[2019-03-09 23:54] #60 closed

[2019-03-09 23:55] laceysanderson commented on #57
I'm going to close this issue. I've used both options with no bad effects but if you run into any problems feel free to comment back here 👍

[2019-03-09 23:55] #57 closed

[2019-03-10 01:57] laceysanderson commented on #56
Hi @kyrenya, I just pushed a commit fixing this issue. Can you test it and make sure it works for you? Your above solution may end up causing the alignments to not line up.

[2019-03-10 01:57] #55 closed

[2019-03-10 02:01] laceysanderson commented on #43
@ekcannon did you get the chance to test this?

[2019-03-10 04:09] laceysanderson commented on #54
Fixed Via PR! I ended up going with my own solution after I found the one suggested by Nate Henry still didn't pass all my tests.

[2019-03-10 04:09] #54 closed

[2019-03-10 17:34] kyrenya commented on #56
It works! Thx a lot! 👍

[2019-03-10 17:44] laceysanderson commented on #56
Great! 🎉

[2019-03-10 17:44] #56 closed

[2019-03-10 17:50] kyrenya commented on #56
uhmm, other error arised, it doesnt seem to recognise now the FASTA sequence when its a protein..
I attach screenshot
![image](https://user-images.githubusercontent.com/43243429/54089079-f0f2b180-435c-11e9-9cb5-ee780b1543a7.png)

[2019-03-10 18:39] laceysanderson commented on #56
This was introduced for Issue #54 where validation was not really happening... I'm surprised you're running into issues for this though as I just added extensive automated testing for it. I'll add your example to the tests and get back to you ASAP

[2019-03-10 18:41] kyrenya commented on #56
it's weird because before the 'git pull' it worked fine... :S
Thanks for taking care!

[2019-03-10 18:46] laceysanderson commented on #56
That header format with my own example protein passes validation perfectly. Can you provide me with your protein sequence for easy testing?

[2019-03-10 18:49] kyrenya commented on #56
I'm using the one that tripal_blast loads as example by default...

MVSVSGIRKVQRAEGPATVLAIGTANPPNCIDQSTYADYYFRVTNSEHMTDLKKKFQRICERTQIKNRHM
YLTEEILKENPNMCAYKAPSLDAREDMMIREVPRVGKEAATKAIKEWGQPMSKITHLIFCTTSGVALPGV
DYELIVLLGLDPCVKRYMMYHQGCFAGGTVLRLAKDLAENNKDARVLIVCSENTAVTFRGPSETDMDSLV
GQALFADGAAAIIIGSDPVPEVEKPIFELVSTDQKLVPGSHGAIGGLLREVGLTFYLNKSVPDIISQNIN
DALNKAFDPLGISDYNSIFWIAHPGGRAILDQVEQKVNLKPEKMKATR

[2019-03-10 18:49] kyrenya commented on #56
the '>' was not pasted in my message, but it is there :)

[2019-03-10 19:23] laceysanderson commented on #56
I think I found the bug in the regex! I pushed a commit to the main branch and that sequence now works for me. Can you test on your end as well?

[2019-03-10 19:42] kyrenya commented on #56
it worked!!
but I got again the non well formed numeric value. warning.. shouldnt be fixed if I'm git pull-ing  the tripal_blast thingy?

[2019-03-10 19:48] kyrenya commented on #56
Ok, I just removed completely the tripal_blast module, and git-cloned it again.
No warnings now, and FASTA validated correctly.
I think we can close this by now, I'll go on doing tests tomorrow, got some questions about 'recent jobs' thing and the files saved in the machine, but I will open other issue for that :)

Thanks a lot for your help and for fixing the problem!!

[2019-03-10 20:22] laceysanderson commented on #56
Both errors should be fixed in the 7.x-1.x branch. I just checked on my development site and I don't get either error anymore. Can you use git log to confirm what branch/commit you are on?

[2019-03-11 00:02] #38 closed

[2019-03-11 13:09] kyrenya commented on #56
working fine!!
![image](https://user-images.githubusercontent.com/43243429/54126172-d83ad800-43fe-11e9-8147-4b88ca51830c.png)

[2019-03-29 00:01] btski commented on #43
@laceysanderson AJAX trigger works fine in the most recent github developer version. I was also able to reproduce the error with the current drush release. Thanks for the fix! I'm trying to add additional linkout options. I'm interested in offering multiple hyperlinks per query name. Basically have some kind of delimited sequence name and use regex to parse specific accessions (Example: Local, Gen

[2019-04-02 20:33] ekcannon commented on #43
Ugh. This issue fell off my desk some time last summer. It appears that I fixed it back in August '18, but never submitted a pull request for my fix. This also means that my copy of this module is that far behind the main one. I'll need to get everything sorted out and will probably have a pull request to submit.

[2019-05-26 22:33] laceysanderson opened #72 "Make Tripal Gold-rated module."
# Documentation

## Description

We are applying for the Gold-level badge for Tripal Blast as we meet the following requirements. I have provided examples below to make review easier.

Repository: https://github.com/tripal/tripal_blast/

## Bronze

| Requirement                                                                              | Status        |
|-----------------------------------------

[2019-05-26 23:08] laceysanderson commented on #72
PR Submitted: https://github.com/tripal/tripal/pull/944/files

[2019-07-12 17:00] theBowja commented on #36
hi @kyrenya, how did you solve the issue with tmp files?

[2019-07-12 17:28] theBowja commented on #36
I got it. In Drupal I did: Administration -> Configuration -> Media -> Temporary Directory = sites/default/files/tmp

[source](http://web.archive.org/web/20141106100939/http://sandu.camerzan.md/content/fix-file-upload-error-could-not-move-uploaded-file-drupal-7-how)

[2019-09-17 13:00] martacds opened #73 "Error - "File is not accessible""
Hi!
I've been having the following error when running BLAST jobs in the command line, and any help is much appreciated. Thanks in advance!

[code]

[2019-09-17 17:26] kyrenya commented on #73
This is because you are not having access to the folder fo tmp files. Changing the configuration of this tmp folder will make it:
Change PrivateTmp=true to PrivateTmp=false and restart apache

hope it helps!

[2019-09-18 10:43] martacsilva commented on #73
Thanks @kyrenya !

[2019-09-18 10:43] #73 closed

[2019-10-01 02:10] #72 closed

[2019-10-01 02:24] laceysanderson commented on #43
Thanks for the feedback @btski! Would you like to add a couple of issues: a) multiple links per hit, b) show full name rather then only captured portion. These are great feature requests and I would welcome PRs for them if you would like guidance towards a general solution :-)

I'm going to close the current issue since the fix to functionality has been confirmed. If you are still encountering pro

[2019-10-01 02:24] #43 closed

[2019-10-01 02:46] laceysanderson commented on #44
Done

[2019-10-01 02:46] #44 closed

[2019-11-15 17:28] btski opened #74 "max_target_seqs parameter"
I wanted to draw attention to the fact that the max_target_seqs parameter is poorly documented by NCBI, leading to misuse. Here are some relevant articles:

[https://academic.oup.com/bioinformatics/article/35/9/1613/5106166](url), [https://blastedbio.blogspot.com/2018/11/blast-max-alignment-limits-repartee-one.html](url)

Would it be worthwhile to add additional information regarding the parameter

[2019-11-15 18:12] laceysanderson commented on #74
Definitely! The help text shown to the user can be set by changing [this line](https://github.com/tripal/tripal_blast/blob/7.x-1.x/includes/blast_ui.form_advanced_options.inc#L51) to be whatever you want the expanded description to be. I don't have time to do this right now but would greatly appreciate the contribution if you have time :-)

[2019-11-19 17:05] btski commented on #74
Would this be an appropriate alteration to the element description?

<img width="1058" alt="Screen Shot 2019-11-19 at 11 03 49 AM" src="https://user-images.githubusercontent.com/32686196/69168515-6d2cbf80-0abc-11ea-9193-980287a3fc99.png">

[2019-11-19 18:21] laceysanderson commented on #74
Looks good 👍

[2019-11-27 19:34] #74 closed

[2020-02-24 21:38] dsenalik opened #77 "Overly aggressive regex to remove database extension in api/blast_ui.api.inc"
At line 202 of api/blast_ui.api.inc there is an overly aggressive regex

  // Strip the extension off the BLAST target
  $database = preg_replace("/(.*)\.[pn]\w\w$/", '$1', $database);

which I think should be removed. It caused my database with a name of the format xxxxxx.pep
(i.e. xxxxxx.pep.psq, xxxxxx.pep.pin, etc.) to have the .pep stripped off and tripal_blast died ungracefully. It seems to

[2020-02-24 22:48] btski opened #78 "Undefined variable"
I commented out the following line of code after noticing the following error:
Notice: Undefined variable: db_file_id in blast_ui_per_blast_program_form() (line 254 of /var/www/html/sites/all/modules/tripal_blast/includes/blast_ui.form_per_program.inc).

[2020-02-26 22:09] laceysanderson commented on #78
Looks like the default value is residual code from a previous implementation. As such I'm simply removing it in the referenced PR. Thanks for reporting it!

[2020-02-26 22:40] #78 closed

[2020-02-27 04:21] laceysanderson commented on #77
I've added a PR in response :-) Please feel free to test and ensure it meets your needs.

[2020-03-09 18:40] #77 closed

[2021-06-14 18:21] spficklin opened #82 "Trimming of input sequence"
If you accidentally leave a carriage return after the sequence that gets cut-and-pasted into the form, you get an error message indicating that the sequence is not properly formatted.  I'm sure it makes some people want to pull their hair out trying to figure out what's wrong with the sequence.

[2021-06-14 18:24] spficklin opened #83 "Issues with online docs"
The online documentation for has outdated formatting instructions for the most recent blast++.  Also, if you don't set aside enough memory for your site you get an error message when loading blast results that simply says the page can't be loaded, there is no meaningful message in the Drupal logs. I came across this looking in the server logs.   We recommend 2GB of RAM for Tripal but if the user s

[2021-06-27 20:30] shmenolin opened #84 "Blast analyses failed: "We encountered an error and are unable to load your BLAST results""
I have set up tripal_blast module for tripal 3. After running each blast, I get an error saying
"We encountered an error and are unable to load your BLAST results."
and I cannot perform the blast analysis
What could be the reason?

[2021-08-06 15:49] laceysanderson commented on #82
**Sorry for the delayed response! I've been away on leave and unable to answer until now.**

Oh, good catch --thank you for reporting this! This will be a small but impactful fix so I've added it as a priority to my list.

[2021-08-06 15:51] laceysanderson commented on #83
**Sorry for the delayed response! I've been away on leave and unable to answer until now.**

Thanks for pointing this out @spficklin! I will look into this. If you have the link to the updated Blast++ documentation handy that would be really helpful!

[2021-08-06 15:56] laceysanderson opened #85 "Upgrade to Tripal 4 + Drupal 9"
Work on this has been begun by @reynoldtan on branch 9.x-2.x. We have a PR open #81 for testing of the current upgrade and would appreciate feedback on this issue or the PR if you are interested in using this module for Tripal 4.

## THIS ISSUE SHOULD NOT BE CLOSED UNTIL
 - Tripal 4 stable is released
 - 9.x-2.x branch is made the default branch
 - all documentation has been upgraded to the Drupal

[2021-08-11 17:58] laceysanderson commented on #83
@spficklin I've confirmed the documentation here (https://tripal-blast-ui.readthedocs.io/en/latest/user_guide/install.html) is up to date. It links to the [official NCBI installation documentation](https://www.ncbi.nlm.nih.gov/books/NBK52640/) which was last updated in Aug 2020 and points to the LATEST tagged downloads (currently 2.12.0).

I did notice that the quickstart (readme and readthedocs i

[2022-10-11 16:09] dsenalik opened #91 "Progressive Display Controls"
I feel that the blast output controls are not clear, they are inconsistent with a lot of current conventions. Currently,
▼ means can be expanded
▲ means has been expanded (can be closed)
example below at "Before"

I propose changing them to those used by Windows 10+, and in fact used at their design site https://learn.microsoft.com/en-us/windows/apps/design/ on the left side.
![windows10](https://

[2022-10-11 20:42] laceysanderson commented on #91
Beautiful! Fixed via merged PR. Thanks!

[2022-10-11 20:42] #91 closed